/*style the tables*/
table {
  border-spacing: 0;
  border: 0px solid rgb(200,200,200);
  letter-spacing: 1px;
  font-size: 90%;
  text-align: center;
}

#CPStand {
  margin: 15px;
}

#cpRoundGamesBox {
  padding-top: 15px;
}

#cpStandBox {
  padding-top: 15px;
}

#finalResultBox {
  padding-top: 15px;
}

#pkPouleStandBox {
  padding-top: 15px;
}


input[type=number]{
  border: none;
  border-radius: 5px;
  width: 30px;
  height: 20px;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 1.2rem;
}

input[type=number]hover{
  background-color: red;
}

input[type=time]{
  background-color: inherit;
  padding: 0;
  margin: 0;
  border: none;
  align-content: center;
  align-items: center;
  text-align: center;
  color: black;
}

table.cp {
  width: 420px;
}

table.pf{
  width: 420px;
}

table.pk {
  width: 300px;
}

table.fi {
  width: 420px;
}

td, th {
  padding: 4px 10px;
}

th {
  background-color: #292e29;
  color: white;
  font-size: 110%;
}

td {
  text-align: center;
}

tr:nth-child(even) td {
  background-color: #e6e6e6;
}

tr:nth-child(odd) td {
  background-color: #f2f2f2;
}

tr:nth-child(even).active td {
  background-color: #b3b3b3;
}

tr:nth-child(odd).active td {
  background-color: #a6a6a6;
}

tr.lastRow td {
  border-bottom: 1px solid white;
}

caption {
  padding: 10px;
}

table tr:first-child th:first-child {
    border-top-left-radius: 5px;
}

table tr:first-child th:last-child {
    border-top-right-radius: 5px;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}


/*KO Tables*/
table.KOgame {
  width: 75%;
}

table.KOgame tr:first-child td:first-child{
  border-top-left-radius: 5px;
  background-color: #292e29;
  color: white;
  font-size: 110%;
}
table.KOgame tr:first-child td:nth-child(2){
  background-color: #292e29;
  color: white;
  font-size: 110%;
}
table.KOgame tr:first-child td:nth-child(3){
  width: 40%;
}
table.KOgame tr:first-child td:nth-child(4){
  border-top-right-radius: 5px;
}
table.KOgame tr:nth-child(2) td:nth-child(2){
}

table.KOgame tr:nth-child(2) td:nth-child(3){
}

table.KOgame tr:nth-child(2) td:nth-child(4){
}

table.KOgame tr.active td:nth-child(4) {
  background-color: #3a7d37;
}

table.KOgame.active input[type=number]{
  border: none;
  border-radius: 5px;
  width: 30px;
  height: 20px;
  background-color: inherit;
  color: black;
  text-align: center;
  font-size: 1.2rem;
}

table.KOgame2 {
  width: 380px;
}

table.KOgame2 tr:nth-child(2) td:nth-child(3).active {
  background-color: #3a7d37;
}
table.KOgame2 tr:nth-child(2) td:nth-child(7).active {
  background-color: #3a7d37;
}
table.KOgame2 tr:nth-child(3) td:nth-child(3).active {
  background-color: #3a7d37;
}
table.KOgame2 tr:nth-child(3) td:nth-child(7).active {
  background-color: #3a7d37;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}


