.tab {
    overflow: hidden;
    border: 0px solid #ccc;
    background-color: #d4d4d4;
    position:absolute;
    bottom:0;
    left:0;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 9px 11px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: white;
}

.tabcontent {
    flex: 1;
    padding: 0px;
    background-color: white;
}

.tablinks {
    font-size: 110%;
}